<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="keywords" content="艺术,美术,美术圈,艺术者,美学,artzhe,art,美术史,青年艺术家,艺术品,美院,arts,美术生,画展,画廊,美术馆,艺术品收藏,艺术电商网,故宫博物院,艺术电商,艺术品鉴,展览,艺术收藏,艺术品电商,博物馆,故宫展览,艺术展,艺术新闻,艺术生活,油画,插画,国画,水粉,水彩,素描,工笔,版画,漆画,丙烯,艺术云图,阿波罗,artand,艺术头条,artsy,雅昌,artpollo,意外艺术,艺术狗,在艺,雅昌兜藏,画家圈,Vart,芭莎艺术,空艺术,藏客,寺库艺术,中国美术馆,掌拍艺术,优家,艺典中国,艺堆,久久视频,在艺,艺厘米,艺堆 - 发现艺术,artstack,葫芦里,VICE MEDIA,imuseum,798,artstack limited,古玩鉴定,雅昌云图,雅昌艺术云图,人物,风景,静物,动物,植物,萌化,宗教,具象,抽象,古典,观念,表现,当代艺术,当代,原始艺术,古典艺术,现代艺术">
    <meta name="description" content="艺术者-遇见你的品味。这里有温度的艺术家，有故事的艺术作品，有品味的社交圈。专注手绘艺术创作，打造青年艺术家品牌。由艺术家记录艺术创作全过程，建立以艺术家、艺术作品为核心的社交网络，帮助艺术家轻松经营粉丝，建立个性互动的长期收藏，完善艺术作品流通。">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>艺术者-艺术号-专注手绘艺术，遇见你的品味</title>
    <link rel="shortcut icon" href="/Public/favicon.ico?v=1.0.1" type="image/x-icon"/>
    <link rel="stylesheet" type="text/css" href="/Public/js/lib/element/index.css">
    <link href="/Public/js/plugin/swiper-3.4.1.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/Public/css/global.css?v=1.2.0">
    <link rel="stylesheet" type="text/css" href="/Public/css/arts.css?v=0.0.1">
  </head>
  <body>
    <div id="app">
      <ysz-header></ysz-header>
      <div id="main">
        <div class="banner">
          <div class="w">
            <p>艺术机构/策展人入驻</p>
            <auth-btn2></auth-btn2>
          </div>
        </div>
        <div class="con-wrap">
          <div class="titles">
            <div class="w">
              <h2 class="renzheng">认证</h2>
              <h2 class="fenfa">分发</h2>
            </div>
          </div>
          <div class="w">
            <ul class="con-list clearfix">
              <li class="renzheng">
                <h3>艺术者平台+V认证</h3>
                <p>
                  认证成为官网账号<br>
                  发表最权威的观点
                </p>
              </li>
              <li class="fenfa">
                <h3>全网内容分发</h3>
                <p>
                  全网20+家自媒体同步内容<br>
                  最大强度曝光宣传品牌
                </p>
              </li>
            </ul>
          </div>
          <div class="titles">
            <div class="w">
              <h2 class="chuanbo">传播</h2>
              <h2 class="guanli">管理</h2>
            </div>
          </div>
          <div class="w">
            <ul class="con-list clearfix">
              <li class="chuanbo">
                <h3>艺术圈分享传播</h3>
                <p>
                  艺术者用户的艺术圈<br>
                  核心用户精准推送
                </p>
              </li>
              <li class="guanli">
                <h3>在线艺术家签约授权</h3>
                <p>
                  一站式管理艺术家<br>
                  自定义艺术家/机构宣传
                </p>
              </li>
            </ul>
          </div> 
        </div>
      </div>
      <set-user-box></set-user-box>
      <login-box></login-box>
      <ysz-footer></ysz-footer>
    </div>
  </body>
  <script src="/Public/js/lib/vue.min.js"></script>
  <script src="/Public/js/lib/element/index.js"></script>
  <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
  <script src="/Public/js/plugin/swiper.jquery.min.js"></script>
  <script src="/Public/js/common.js?v=1.2.0"></script>
  <script src="/Public/js/arts/index.js?v=0.0.1"></script>
  <script type="text/javascript">
    $(function() {
        var winS,winH,$directorys,$datas,$pages,$dls,$welfares,$events,$items,sections;
        $items = $(".con-list li");
        winH = $(window).height();


        // 返回顶部
        $(".slideTop").click( function() {
            $("html, body").animate({scrollTop:0},1000);
        });

        // 进场动画
        $(".banner_content").children().each( function(index) {
            $(this).css("animation-delay",1.5 + index/3 + "s").addClass("animated fadeIn");
        });
        function addAnimated() {
            winS = $(window).scrollTop();
            // 动画
            $items.each( function(index) {
                var elT = $(this).offset().top;
                if (winS + winH > elT) {
                    $(this).addClass("animated");
                }
            });
        }
        $(function () {
          addAnimated();
        });
        
        $(window).scroll( function() {
          addAnimated();
        });

    });
  </script>
</html>