<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="keywords" content="艺术,美术,美术圈,艺术者,美学,artzhe,art,美术史,青年艺术家,艺术品,美院,arts,美术生,画展,画廊,美术馆,艺术品收藏,艺术电商网,故宫博物院,艺术电商,艺术品鉴,展览,艺术收藏,艺术品电商,博物馆,故宫展览,艺术展,艺术新闻,艺术生活,油画,插画,国画,水粉,水彩,素描,工笔,版画,漆画,丙烯,艺术云图,阿波罗,artand,艺术头条,artsy,雅昌,artpollo,意外艺术,艺术狗,在艺,雅昌兜藏,画家圈,Vart,芭莎艺术,空艺术,藏客,寺库艺术,中国美术馆,掌拍艺术,优家,艺典中国,艺堆,久久视频,在艺,艺厘米,艺堆 - 发现艺术,artstack,葫芦里,VICE MEDIA,imuseum,798,artstack limited,古玩鉴定,雅昌云图,雅昌艺术云图,人物,风景,静物,动物,植物,萌化,宗教,具象,抽象,古典,观念,表现,当代艺术,当代,原始艺术,古典艺术,现代艺术">
    <meta name="description" content="艺术者-遇见你的品味。这里有温度的艺术家，有故事的艺术作品，有品味的社交圈。专注手绘艺术创作，打造青年艺术家品牌。由艺术家记录艺术创作全过程，建立以艺术家、艺术作品为核心的社交网络，帮助艺术家轻松经营粉丝，建立个性互动的长期收藏，完善艺术作品流通。">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>个人中心-机构特权</title>
    <link rel="shortcut icon" href="/Public/favicon.ico?v=1.0.1" type="image/x-icon"/>
    <link rel="stylesheet" type="text/css" href="/Public/js/lib/element/index.css">
    <link rel="stylesheet" type="text/css" href="/Public/css/global.css?v=1.2.0">
    <link rel="stylesheet" type="text/css" href="/Public/css/user.css?v=0.0.1">
  </head>
  <body>
    <div v-cloak id="app">
      <ysz-header></ysz-header>
      <div id="main">
        <div class="part banner">
          <div class="w">
            <div class="banner-info">
              <h2>艺术者 · 遇见你的品味</h2>
            </div>
          </div>
        </div>
        <div class="content clearfix">
          <div class="w">
            <left-user-info></left-user-info>
            <div class="right-wrap">
              <div class="agency-wrap">
                <div><i class="icons icon-coffee"></i></div>
                <h3>温馨提示</h3>
                <p>艺术机构特权正在陆续开放中，请耐心等待。</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <ysz-footer></ysz-footer>
    </div>
  </body>
  <script src="/Public/js/lib/vue.min.js"></script>
  <script src="/Public/js/lib/element/index.js"></script>
  <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
  <script src="/Public/js/common.js?v=1.2.0"></script>
  <script src="/Public/js/user/agency.js?v=0.0.1"></script>
</html>