html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  line-height: 1.5;
  min-height: 100%;
}
body {
  min-height: 100%;
  margin: 0;
  -webkit-touch-callout: none;
  font-family: -apple-system-font, 'PingFang SC Medium', 'Heiti SC', 'Helvetica', 'HelveticaNeue', 'Droidsansfallback', "Droid Sans", 'Dengxian', 'Segoe', 'microsoft yahei', sans-serif;
  line-height: inherit;
  background-color: #fff;
}
#cover {
  width: 100%;
  height: 5.06667rem;
  background-size: 100% 5.06667rem;
  background-repeat: no-repeat;
  background-position: top left;
}
#title {
  margin: 0;
  padding: 0.4rem 0.08rem 0.2rem 0.32rem;
  text-indent: -0.24rem;
  font-size: 0.48rem;
}
.wrap {
  padding: 0.32rem;
  word-break: break-all;
  /*font-size: 16px;*/
  font-size: 0.4rem;
  line-height: 1.6;
}
.artwork-item {
  position: relative;
  padding: 0.64rem 0.32rem;
  background-color: #fff;
  border-top: 0.24rem solid rgba(7,17,27,0.1);
  box-sizing: content-box;
}
.artwork-wrap {
  position: relative;
  width: 100%;
  box-sizing: content-box;
}
.artwork-wrap * {
  box-sizing: content-box;
}
.artwork-item .cover-wrap {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
}
.artwork-item .cover-wrap .cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.artwork-item .info-wrap {
  margin-top: 0.32rem;
}
.artwork-item .info-wrap .name {
  font-size: 0.4rem;
  color: #333;
}
.artwork-item .info-wrap .user-wrap {
  margin-top: 0.24rem;
  font-size: 0;
}
.artwork-item .info-wrap .user-wrap .face {
  display: inline-block;
  margin-right: 0.08rem;
  width: 0.64rem;
  height: 0.64rem;
  vertical-align: top;
  border-radius: 50%;
}
.artwork-item .info-wrap .user-wrap .nickname {
  margin-right: 0.16rem;
  font-size: 0.373333rem;
  line-height: 0.64rem;
  color: #333;
}
.artwork-item .info-wrap .user-wrap .tags {
  font-size: 0.32rem;
  color: #999;
}
.artwork-item .desc {
  margin-top: 0.32rem;
  font-size: 0.32rem;
  line-height: 2;
  color: #333;
}