<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="keywords" content="艺术者">
    <meta name="description" content="专注手绘艺术，遇见你的品味">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta content="telephone=no,email=no" name="format-detection">
    <title>微信登录</title>
    <script src="/js/lib/flexible.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/global.css">
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/login.css">
  </head>
  <body>
    <div class="frame-box">
      <div class="logo"></div>
      <div class="line"></div>
      <a class="btn wx-login-btn" href="/wechat/login"><i class="icons icon-wx"></i>微信直接登录</a>
    </div>
  </body>
</html>