html,
body{width:100%;height:100%;color:#fff;font-family:'PingFang SC Medium','microsoft yahei','arial';}
body{background:url(/Public/image/activity/bg.png) no-repeat center;-webkit-background-size:100% 100%;background-size:100% 100%;background-attachment:fixed;}
#loading{position:fixed;top:0;left:0;width:100%;height:100%;background-color:#fff;z-index:99999;}
#loading .wrap{position:absolute;top:40%;left:50%;margin-top:-1.4rem;margin-left:-2.5rem;}
#loading .box{padding-top:1.28rem;width:5.0rem;height:2.8rem;background-color:#eee;border-radius:3px;}
.progress-bar-min{position:relative;width:4.2rem;margin:0 auto;}
.progress-bar-min .progress-bar-outer{height:0.12rem;border-radius:3px;background-color:#dadada;overflow:hidden;position:relative;vertical-align:middle;}
.progress-bar-min .progress-bar-inter{position:absolute;left:0;top:0;height:100%;background-color:#f4ad23;text-align:right;border-radius:3px;line-height:1;}
#loading p{font-size:0.4rem;line-height:0.96rem;text-align:center;color:#666;}

/*声明 WebFont*/
/*@font-face{font-family:'fz';src:url('../font/fz.eot');src:url('/Public/font/fz.eot?#font-spider') format('embedded-opentype'),url('/Public/font/fz.woff') format('woff'),url('/Public/font/fz.ttf') format('truetype'),url('/Public/font/fz.svg') format('svg');font-weight:normal;font-style:normal;}*/

/*使用选择器指定字体*/
/*.myfont{font-family:'fz';}*/

/*介绍页面*/
#app {
  height: 100%;
  width: 100%;
}
#intro {
  position: relative;
  height: 100%;
  width: 100%;
  text-align: center;
  background:url(/Public/image/activity/bg-line.png) no-repeat center;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}
#intro .p1 {
  padding-top: 3.2rem;
  font-size: 0.50667rem;
  line-height: 0.6rem;
}
#intro .p2 {
  margin: 1.2rem auto 0;
  padding: 0.53333rem 0;
  width: 7.26667rem;
  font-size: 0.4rem;
  line-height: 0.53333rem;
  background:url(/Public/image/activity/p-wrap.png) no-repeat center;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}
#intro .btn {
  margin-top: 2.29333rem;
  width: 8.08rem;
}
/*介绍页面end*/

/* 测试页面 */
.title{padding-top:0.36rem;line-height:1;font-size:0.48rem;text-align:center;}
.progress{margin:0.24rem auto;text-align:center;}
.progress, .progress-text, .progress-bar{ vertical-align: top;}
.progress-text{display: inline-block; padding-left: 0.24rem; font-size:0.4rem;}
.progress-bar {display: inline-block; width:6.12rem;}
.progress-bar-outer{height:0.4rem;border-radius:3px;background-color:#dedede;overflow:hidden;position:relative;vertical-align:middle;}
.progress-bar-inter{position:absolute;left:0;top:0;height:100%;background-color:#f4ad23;text-align:right;border-radius:3px;line-height:1;}
.swiper-container{padding-top:0.06rem;text-align:center; overflow: auto;}
.image-item{position:relative;margin:0 auto;width:8.2rem;height:6.0rem;text-align:center; border:0.08rem solid #fff;margin-bottom:1.04rem;background-color:#ededed;-webkit-box-shadow:inset 0 0.08rem 0.16rem rgba(0,0,0,.28);box-shadow:inset 0 0.08rem 0.16rem rgba(0,0,0,.28);}
  .image-item .image-art{position:absolute;top:50%;left:50%;margin-left:-3.8rem;margin-top:-2.7rem;width:7.6rem;height:5.4rem;background-position:50% 50%;background-size:100% 100%;background-repeat:no-repeat;-webkit-box-shadow:inset -0.12rem 0.12rem 0.24rem rgba(0,0,0,.28);box-shadow:inset -0.12rem 0.12rem 0.24rem rgba(0,0,0,.28);}
  .image-item .artinfo{position:absolute;top:6.0rem;right:0;height:0.48rem;line-height:0.48rem;font-size:0.32rem;}
  .image-item.active{border:0.08rem solid #ffdc77;}
  .image-wrap .image-item:last-of-type {margin-bottom: 0.64rem;}
  .alpha-img{height:100%;width:0;vertical-align:middle;}

  /* 测试页面 end */

  /*结果页*/
  .logo{padding-top:0.72rem;padding-bottom:0.44rem;text-align:center;}
  .logo img{width:2.10667rem;height:0.82667rem;}
  .result{position:relative;height:8.05333rem;width:8.05333rem;margin:0 auto;overflow:hidden;}
    .result .result-img{width:8.05333rem;height:10.18667rem;}
    .btns{margin-top:1.73333rem;margin-left:0.92rem;}
    .btns .btn-group{position:relative;display:inline-block;}
    .btns .btn-group p{position:absolute;top:-1.06667rem;left:50%;margin-left:-2.2rem;width:4.4rem;height:0.8rem;line-height:0.8rem;font-size:0.34667rem;text-align:center;color:#333;background-color:#f4ad23;border-radius:4px;white-space: nowrap;}
    .btns .btn-group p:after{content:'';position:absolute;bottom:-0.10rem;left:50%;margin-left:-0.12rem;width:0;height:0;border-top:0.13333rem solid #f4ad23;border-left:0.12rem solid transparent;border-right:0.12rem solid transparent;}
    .btns .btn-group:last-of-type{margin-left:0.32rem;}
    .btn{display:inline-block;width:3.92rem;height:1.25333rem;font-size:0.42667rem;line-height:1.25333rem;text-align:center;border-radius:0.64rem;color:#252525;background-color:#fff;}
    .btn.btn-primary{background-color:#f8bb2a;}
    .friend-wrap{margin:0.72rem auto 0.4rem;padding-bottom:0.4rem;width:8.34667rem;color:#fff;border:2px solid #bcbbbd;}
    .friend-wrap .friend-title{padding:0.68rem 0;font-size:0.4rem;text-align:center;}
    .friend-wrap .friend-title span{display:inline-block;padding:0 0.12rem;color:#5bb1ee;}
    .friend-item{position:relative;float:left;width:100%;padding:0.2rem 0.36rem 0.2rem 0.44rem;}
    .friend-item .friend-info{position:relative;margin-left:1.08rem;font-size:0.4rem;}
    .friend-item .friend-info .label{padding-top:0.16rem;font-size:0.34667rem;word-wrap:nowrap; }
    .friend-item .avatar{position:absolute;top:0;left:-1.08rem;width:0.96rem;height:0.96rem;border:1px solid #fff;border-radius:50%;}
    .friend-item .friend-per{float:right;line-height:0.96rem;font-size:0.32rem;vertical-align:middle;}
    .friend-item .friend-per span{vertical-align:middle;}
    .friend-item .friend-per .per{padding-left:0.12rem;font-size:0.48rem;}

    /*结果页end*/
    .result .tag{display:block;position:absolute;text-align:center;word-break:keep-all;           /* 不换行 */white-space:nowrap;          /* 不换行 */color:#d7000f;}
    .result .tag.tag1{top:0.2rem;left:0.04rem;width:3.09333rem;font-size:0.92rem;line-height:0.92rem;}
    .result .tag.tag2{top:0.12rem;left:4.84rem;width:3.06667rem;font-size:0.96rem;line-height:0.96rem;}
    .result .tag.tag3{top:1.12rem;left:0.44rem;width:2.88rem;font-size:0.76rem;line-height:0.76rem;}
    .result .tag.tag4{top:1.28rem;left:4.68rem;width:3.09333rem;font-size:0.6rem;line-height:0.6rem;}
    .result .tag.tag5{top:1.88rem;left:0.16rem;width:1.76rem;font-size:0.56rem;line-height:0.56rem;}
    .result .tag.tag6{top:1.92rem;left:5.16rem;width:2.76rem;font-size:0.56rem;line-height:0.56rem;}
    .result .tag.tag7{top:3.76rem;left:0.36rem;width:4.0rem;font-size:1.29333rem;line-height:1.29333rem;}
    .result .tag.tag8{top:3.81333rem;left:4.64rem;width:3.08rem;font-size:0.92rem;line-height:0.92rem;}
    .result .tag.tag9{top:5.08rem;left:0.96rem;width:2.76rem;font-size:0.64rem;line-height:0.64rem;}
    .result .tag.tag10{top:4.88rem;left:4.44rem;width:3.41333rem;font-size:0.76rem;line-height:0.76rem;}
    .result .tag.tag11{top:5.68rem;left:3.8rem;width:2.84rem;font-size:0.42667rem;line-height:0.42667rem;}
    .result .tag.tag12{top:6.12rem;left:0.24rem;width:2.6rem;font-size:0.6rem;line-height:0.6rem;}
    .result .tag.tag13{top:6.16rem;left:2.92rem;width:3.72rem;font-size:0.76rem;line-height:0.76rem;}
    .result .tag.tag14{top:6.96rem;left:0.88rem;width:3.28rem;font-size:1.04rem;line-height:1.04rem;}
    .user-info{position:absolute;width:100%;text-align:center;}
    .user-info .user-avatar{margin-top:0.48rem;width:1.24rem;height:1.24rem;border-radius:50%;}
    .user-info .nickname{color:#252525;font-size:0.44rem;}
    .result .said{position:absolute;top:2.6rem;left:50%;margin-left:-3.74rem;width:7.48rem;height:1.16rem;line-height:1.16rem;font-size:0.53333rem;text-align:center;}

    /*结果框样式*/

    /*结果框样式end*/

    /*分享页*/
    .btn-group{text-align:center;}
    .btn.btn-share{width:8.08rem;margin:0 auto;}
    .save{width: 10.0rem; padding:0.36rem 0 0.72rem;text-align:center;font-size:0.4rem;}
    .cover{position:fixed;top:1.0rem;left:0.97333rem;width:8.05333rem;height:10.16rem;display:none;}
    .cover img{position:relative;vertical-align:bottom;}
    .cover .img-result{width:8.05333rem;height:8.05333rem;}
    .cover .img-code{position:absolute;top:8.05333rem;left:0;width:8.05333rem;height:2.10667rem;background:#fff url(/Public/image/activity/code.png) 0 0 no-repeat;-webkit-background-size:100% 100%;background-size:100% 100%;}
    #newimg{width:100%;height:100%;position:absolute;top:0;left:0;  /*z-index: 10;*/}

    /* 弹出层 */
    .layerbox{position:absolute;  /*display: none;*/left:0;top:0;width:100%;height:100%;-webkit-animation-fill-mode:both;animation-fill-mode:both;-webkit-animation-duration:.2s;animation-duration:.2s;z-index:999;}
    .layershade{position:fixed;left:0;top:0;width:100%;height:100%;background-color:rgba(0,0,0,.6);pointer-events:auto;}
    .layerbox .share{position:fixed;left:0.78rem;width:8.62667rem;height:9.13333rem;background:url(../../image/activity/share.png?v=1.0.1) no-repeat left top;background-size:100% auto;}

    /*弹出层 end*/

    /*分享页end*/

    /*二维码弹窗*/
    .qrcode{position:fixed;top:40%;left:50%;margin-left:-3.2rem;margin-top:-3.88rem;width:6.4rem;height:7.76rem;text-align:center;background-color:#fff;border-radius:3px;}
    .qrcode i{float:right;display:inline-block;margin:0.2rem 0.2rem 0 0;width:0.4rem;height:0.4rem;background:#fff url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAbBAMAAACQOIJYAAAAG1BMVEUAAADAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMApOh7PAAAACHRSTlMAauNhJqkODR9hseUAAABoSURBVBjTY2BjQIACBicBOIdRhcGiEc6TaGZg7IBKQlgSEEkQAyYEoaFiEAomCCWholACJgnGcNPAUnBJQZAUXLKjEcm5rB0BDBhymPoQZmLah3ALpjsRfkDzH6rfUcMFNcxQwxM1rAF/ER0mqJpX2QAAAABJRU5ErkJggg==) 0 0 no-repeat;-webkit-background-size:100% 100%;background-size:100% 100%;color:#ccc;cursor:pointer;}
    .qrcode p{padding-top:1.08rem;padding-bottom:0.4rem;font-size:0.4rem;line-height:0.56rem;color:#666;}
    .qrcode .code-img{width:4.5rem;height:4.5rem;}

    /*二维码弹窗 end*/