html, body {
  height: 100%;
}
body {
  background: #f4f4f4;
}

.finished-title{padding:16px 0 16px 20px;border-bottom: 1px solid #e2e2e2; font-size: 22px;color: #666;}
.finished-title span{font-size: 18px;color: #999;}
.finished-tip{padding:62px 0 87px;text-align: center; font-size: 18px;color: #7d7d7d;}
.finished-box{width: 730px;padding:42px 83px 50px 135px; border:1px solid #dcdcdc; margin:0 auto 60px;}
.finished-pdr{padding-right: 84px;}
.finished-pdr.el-select{display: block;}
.finished-x{display: inline-block;padding:0 20px;font-size: 18px; color: #dcdcdc;}
.finished-cm{color: #dcdcdc;font-size: 18px;}
.el-input__inner::-webkit-input-placeholder,.el-textarea__inner::-webkit-input-placeholder{color: #c5c5c5}
.el-input__inner::placeholder,.el-textarea__inner::placeholder {color: #c5c5c5}
.el-textarea__inner{border-color:#dcdcdc }
.line{height: 48px;line-height: 48px;font-size: 18px;color: #dcdcdc;}
.upload-pic1 .el-form-item__content,.upload-pic2 .el-form-item__content{width: 350px;min-height: 95px;padding: 15px 0 15px 19px;border:1px solid #dcdcdc;line-height: 1;}
.upload-pic1 .el-upload--picture-card,.upload-pic2 .el-upload--picture-card{width: 62px;height: 62px;line-height: 62px; border:2px dashed #5eacd4;border-radius:0;}
.upload-pic1 .el-upload-list__item,.upload-pic2 .el-upload-list__item{width: 62px;height: 62px;}
.upload-pic1 .el-upload-list__item,.upload-pic2 .el-upload-list__item{margin-bottom: 0;margin-right: 19px;}

.el-select-dropdown{width: 300px;min-width: 300px !important;}
.el-select-dropdown__item{    display: inline-block; margin: 5px 0 0 7px; padding: 0 8px 0; height: 26px; line-height: 26px;}
.el-select-dropdown.is-multiple .el-select-dropdown__item{border:1px solid transparent; color: #999;}
.el-select-dropdown.is-multiple .el-select-dropdown__item.selected{background-color: #e7e7e7;color: #999;box-shadow: 0px 0px 7px #000;-webkit-box-shadow: 0px 0px 7px #000;}
.el-select-dropdown.is-multiple .el-select-dropdown__item.hover{color:#f4ad23;}
.el-select-dropdown.is-multiple .el-select-dropdown__item.selected.hover{border:1px solid transparent;color: #999;background-color:#e7e7e7 }
 .el-select-dropdown.is-multiple .el-select-dropdown__item.selected::after{display: none;}
  .el-select__tags > span .el-tag{color: #999}
 .el-tag--primary{border:none;}

 .word-tip{width: 244px;float: left;font-size: 16px;color: #c5c5c5;text-align: center;padding-right: 36px;line-height: 1.2;}
 .el-upload-list--picture-card .el-progress{height: 100%;}
 .el-progress-circle{width: 60px !important; height: 60px !important;}
 .el-upload-list--picture-card .el-progress{width: 100%}
