<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="keywords" content="艺术者">
    <meta name="description" content="专注手绘艺术，遇见你的品味">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta content="telephone=no,email=no" name="format-detection">
    <title>收藏级版画免费领</title>
    <link rel="shortcut icon" href="/Public/favicon.ico?v=1.0.2" type="image/x-icon"/>
    <script src="/Public/js/lib/flexible.js" charset="utf-8"></script>
    <link rel="stylesheet" href="/Public/css/queen/index.css?v=1.0.9">
    <script src="//res.wx.qq.com/open/js/jweixin-1.0.0.js" type="text/javascript" charset="utf-8"></script>
    <!-- GrowingIO Analytics code version 2.1 -->
<!-- Copyright 2015-2017 GrowingIO, Inc. More info available at http://www.growingio.com -->
<script type='text/javascript'>
!function(e,t,n,g,i){e[i]=e[i]||function(){(e[i].q=e[i].q||[]).push(arguments)},n=t.createElement("script"),tag=t.getElementsByTagName("script")[0],n.async=1,n.src=('https:'==document.location.protocol?'https://':'http://')+g,tag.parentNode.insertBefore(n,tag)}(window,document,"script","assets.growingio.com/2.1/gio.js","gio");
  gio('init', '9aa9cc9a8407e110', {});
//custom page code begin here

//custom page code end here

gio('send');
</script>

</head>
<body>
  <div class="thrdTest"></div>
  <div class="queenRuleBox">
    <div class="queenRule">
      <p class="ruleTitle">活动规则</p>
      <ul class="ruleList">
        <li>
          <div class="ruleNum">1</div>
          <p class="ruleText">点击撒娇，获得好友的撒娇助力，可获得好物高额 价格减免</p>
        </li>
        <li>
          <div class="ruleNum">2</div>
          <p class="ruleText">前20名支持好友，每位好友将随机为您减免5-100 元价格，每个好物最多可获得50位好友支持，支持 名额用完即止</p>
        </li>
        <li>
          <div class="ruleNum">3</div>
          <p class="ruleText">活动时间为：2018.3.7-2018.3.15，活动好物价 格减免逾期将失效，请及时使用</p>
        </li>
      </ul>
    </div>
  </div>
    <ul class="queenActivityBox">
    </ul>
    <!-- 微信分享弹层 -->
    <div class="wxTrip">
      <div class="ruleimg"></div>
    </div>
    <!-- app内弹层：微信绑定提示 -->
    <div class="showTrip bindwx">
      <div class="needwx">
        <div class="nowx">
          <p>检测到您还未安装微信，请安装并注册后，重新进入此活动。</p>
          <div class="installwx"></div>
        </div>
        <div class="loginwx">
          <p>检测到您还未登录微信，请登录微信后，重新进入此活动。</p>
          <div class="gologinwx"></div>
        </div>
        <div class="havewx">
          <p>参与此活动需要绑定微信号，是否绑定？</p>
          <div class="surebind"></div>
          <!-- <div class="nobind">取消</div> -->
        </div>
        <div class="wxbindother">
            <p></p>
            <div class="gologinwx"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- 首个红包领取提示 -->
    <div class="showTrip Firstknife">
      <div class="wantshare">
        <div class="whitebox">
          <p class="isezingIn gole">你已获得55元减免红包，呼唤更多小伙伴为你减免到底！</p>
          <div class="boxbtn">
            <div class="yangjiaofu"></div>
            <div class="gao"></div>
            <div class="hongbox">
              <div class="useNow"></div>
              <div class="cutDown"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- 点击去使用时的弹窗 -->
    <div class="showtoshop goshop">
          <div class="layermain">
          <div class="goshop-box">
            <h3 class="use-title">红包使用提示</h3>
            <p class="goshop-info">减免金额将以优惠券形式发送到您个人账户，<span class="important">请将原价商品加入购物车，点击结算后</span>，在订单提交页面点选优惠券即可进行价格减免哦！</p>
              <!-- <p class="goshop-info">一张等额减免优惠券已发送到您的账户中，请将商品添加购物车后，在结算页面点选使用哦！</p> -->
              <div class="goshop-btn"></div>
          </div>
      </div>
    </div>
    <!-- 活动告知 -->
    <div class="showTrip aboutactive">
      <div class="aboutacvtiveinfo">
        <div class="otherBox">
          <p class='activeinfo'>活动已开始</p>
          <div class="activebg"></div>
        </div>
      </div>
    </div>

    <!-- 显示分享相关按钮 -->
    <div class="showTrip shareToWXBg">
      <div class="shareToWXBox">
        <h3>分享至</h3>
        <div class="shareBtnBox">
          <button class="toFriend">
            <img src="/Public/image/queen/share_wechat.png" alt="">
            <span>微信好友</span>
          </button>
          <button class="toPyq">
            <img src="/Public/image/queen/share_pyq.png" alt="">
            <span>微信朋友圈</span>
          </button>
          <!-- <button class="toArtcel">
            <img src="" alt="">
            <span>艺术圈</span>
          </button> -->
        </div>
        <div class="dontShare">取消</div>
      </div>
    </div>
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="/Public/js/queen/index.js?v=1.1.9"></script>
    <script type="text/javascript">
      // 微信分享
        wx.config({
            debug: false,
            appId: '<?php echo $signPackage["appId"];?>',
            timestamp: <?php echo $signPackage["timestamp"];?>,
            nonceStr: '<?php echo $signPackage["nonceStr"];?>',
            signature: '<?php echo $signPackage["signature"];?>',
            jsApiList: ["onMenuShareTimeline","onMenuShareAppMessage"]// 所有要调用的 API 都要加到这个列表中
        });
    </script>
</body>
</html>
